.register{
    height:100vh;
    background-color: rgba(48, 79, 100, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
        .card{
            width: 50%;
            display: flex;
            flex-direction: row-reverse;
            background-color: aliceblue;
            border-radius: 10px;
            min-height: 400px;
            overflow: hidden;
    
            .left{
                flex: 1;
                background:linear-gradient(rgba(77, 66, 99, 0.493),rgba(82, 100, 128, 0.452)), url("https://images.pexels.com/photos/3127880/pexels-photo-3127880.jpeg?auto=compress&cs=tinysrgb&w=400")center;
                background-size: cover;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: white;
               h1{
                font-size:80px ;
                line-height: 80px;
               }
    
               p{
    
               }
    
               span{
                font-size: 14px;
               }
    
               button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rgba(35, 56, 126, 0.87);
                font-weight: bold;
                cursor: pointer;
               } 
            }
    
            .right{
                flex: 1;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                justify-content: center;
    
                h1{
                    color: rgba(148, 142, 117, 0.815);
                   
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    input{
                        border: none;
                        border-bottom: 1px solid lightgrey;
                        padding: 20px 10px;
                    }
                    button{
                        width: 50%;
                        padding: 10px;
                        border: none;
                        background-color: #938eef;
                        font-weight: bold;
                        color: white;
                        cursor: pointer;
    
                        
                    }
                }
            }
        }
    }